@import 'styles/utils/variables';
@import 'styles/utils/common-styles';

.smallSplashWrapper {
    @include small-splash-wrapper;
}

.placeholderWrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: $content-max-width;
    padding: 4rem 3rem;
    margin: auto;
}
