@import 'styles/utils/colors';
@import 'styles/utils/transitions';
@import 'styles/utils/breakpoints';

.positionSectionWrapper {
    .positionHeaderContainer {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include breakpoint('mobile') {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    .positionTitle {
        @include ease-in-out(.2s);
        padding-bottom: .2rem;
        border-bottom: 1px dotted color('primary-tint', 'opacity', 0.8);
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: .25px;
        color: color('primary-tint', 'opacity', 0.8);
        cursor: pointer;

        &:hover {
            border-bottom: 1px dotted color('primary-tint', 'opacity', 1);
            color: color('primary-tint', 'opacity', 1);
        }
    }

    .positionTimeframe {
        margin-left: auto;
        font-size: .9rem;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        color: color('off-black');

        @include breakpoint('mobile') {
            margin: 0 0 .75rem 0;
        }
    }

    .positionDescription {
        margin-top: 1rem;
    }
}
